@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7FF;
  font-family: "Playfair Display", serif;
}

.translator {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}
.translator__info {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-grid;
}
.translator__info > h2 {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B303A;
  font-size: 50px;
  color: whitesmoke;
}
.translator__info > p {
  font-size: 30px;
}