@use "../base/base.scss";

.translator {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline-grid;
    }

    &__info > h2 {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2B303A;
        font-size: 50px;
        color: whitesmoke;
    }

    &__info > p {
        font-size: 30px;
    }
}